body{background: #e9e9e9;}
		.shop_nav_c{width: 207px;}
		.shop_banner_c{width: 713px;}
		.shop_news_c{width: 280px;}
		.shop_rightbar_c{position: fixed;right: 0;}
		.shop_floornav_c{position: fixed;left: 50%;margin-left: -640px;top: 50%;margin-top: -98px;width: 24px;height: 196px;z-index: 999;}
		.shop_location{padding: 32px 0 10px 0;}
		.wrap1200 {
		    width: 1200px;
		    margin: 0 auto;
		  }